html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #338848;
  --primary-hover: #2cc756;
  --primary-accent: #09160a;
  --secondary: #fff2bf;
  --main-background: #f0e3b0;
  --border-primary: 5px;
  --text-hover: #213121;
  --moose-color: #f0e6cc;
}

@font-face {
  font-family: "header-font";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}
