html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #338848;
  --primary-hover: #2cc756;
  --primary-accent: #09160a;
  --secondary: #fbedb3;
  --main-background: #f3eac6;
  --border-primary: 5px;
  --text-hover: #213121;
}
