.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  background-color: var(--primary);
  border-bottom: 1px solid var(--primary-accent);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
