.header {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--primary);
  border-bottom: var(--border-primary) solid var(--primary-accent);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: top 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
}

.returnFade {
  top: -100%;
}

.header.sticky {
  position: fixed;
}

.header > h1 {
  text-align: center;
  font-size: 64px;
  font-family: "header-font";
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navbar > a {
  padding: 0.5rem;
  border-top: var(--border-primary) solid var(--primary-accent);
  border-right: var(--border-primary) solid var(--primary-accent);
  border-left: var(--border-primary) solid var(--primary-accent);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  font-family: "header-font";
}

.menubutton {
  position: relative;
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  background-image: url("./svg/menu_black_36dp.svg");
}

.closebutton {
  position: relative;
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  background-image: url("./svg/close_black_36dp.svg");
}

@media (min-width: 920px) {
  .navbar > a:hover {
    background-color: var(--primary-hover);
  }
  .navbar > a:not(:first-child) {
    margin-left: 5rem;
  }
}

@media (--large-viewport) {
  .header > h1 {
    text-align: center;
    font-size: 24px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar > a {
    border: none;
    text-align: center;
  }
  .navbar > a:not(:first-child) {
    margin-left: 0;
  }
}
