@value large from './CustomMedia.module.css';

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--primary);
  border-bottom: var(--border-primary) solid var(--primary-accent);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: top 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
}

.returnFade {
  top: -100%;
}

.sticky {
  position: fixed;
}

.header > h1 {
  font-family: "header-font";
  margin-bottom: 0;
  font-size: 24px;
  margin-inline-start: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar > a {
  font-weight: bold;
  font-family: "header-font";
  text-align: center;
  margin-bottom: 1rem;
}

.navbar > a:not(:first-child) {
  margin-left: 0;
}

.menubutton {
  position: relative;
  margin-left: 1rem;
  margin-right: auto;
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  background-image: url("./svg/menu_black_36dp.svg");
}

.closebutton {
  position: relative;
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  background-image: url("./svg/close_black_36dp.svg");
}

@media (large) {
  .header > h1 {
    font-size: 64px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar > a {
    margin-bottom: 0;
    padding: 0.5rem;
    border-top: var(--border-primary) solid var(--primary-accent);
    border-right: var(--border-primary) solid var(--primary-accent);
    border-left: var(--border-primary) solid var(--primary-accent);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .navbar > a:hover {
    background-color: var(--primary-hover);
  }
  .navbar > a:not(:first-child) {
    margin-left: 2rem;
  }
}
